@model IEnumerable<QLBanHangMiniShop.Models.Loai>


        @foreach (var item in Model)
        {
            <tr style="border:0.2em solid black" id="loai-@item.ID">
                <td style="border:2px solid black">
                    @Html.DisplayFor(modelItem => item.MaSo)
                </td>
                <td style="border:2px solid black">
                    <a href="#" name="LoadPopUp"
                       id="/Loais/Details/@item.ID">
                        @Html.DisplayFor(modelItem => item.Ten)
                    </a>

                </td>
                <td style="border:2px solid black">
                    @Html.DisplayFor(modelItem => item.ChungLoai.Ten)
                </td>
                <td style="border:2px solid black" class="d-print-none">
                    <a class="btn btn-warning"
                       name="LoadPopUp"
                       id="/Loais/Edit/@item.ID">
                        Edit
                    </a>
                    <a class="btn btn-danger"
                       name="LoadPopUp"
                       id="/Loais/Delete/@item.ID">
                        Delete
                    </a>
                </td>
            </tr>
        }




