
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <title>Shop main</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery.min.js"></script>

</head>
<body>

    <div class="card card-primary" style="margin:2% 10% 0px 10%">
        <div class="card-header" style="background-color:#0094ff">
            <h3 class="card-title">Thêm sản phẩm</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form" action="../ProductManage/AddProduct" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="" name="Ten" placeholder="Tên sản phẩm">
                </div>
                <div class="form-group">
                    <label for="">Mã số của sản phẩm</label>
                    <input type="text" class="form-control" id="" name="MaSo" placeholder="Mã số">
                </div>
                <div class="form-group">
                    <label for="">Đơn vị tính</label>
                    <input type="text" class="form-control" id="" name="DonViTinh" placeholder="Đơn vị tính">
                </div>
                <div class="form-group">
                    <label for="">Mô Tả</label>
                    <textarea class="form-control" rows="5" name="MoTa"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Thông số kỹ thuật</label>
                    <textarea class="form-control" rows="5" name="ThongSoKyThuat" placeholde="bắt đầu bằng gạch ngang '-' mỗi thông số kỹ thuậ là 1 dòng"></textarea>
                </div>
                <div class="form-group">
                    <label for="">Giá bán</label>
                    <input type="number" class="form-control" id="" name="GiaBan" placeholder="giá bán">
                </div>
                <div class="form-group">
                    <label>Loại sản phẩm</label>
                    @{List<ChungLoai> lst = (List<ChungLoai>)ViewBag.lstLoaiSP; }
                <select class="form-control" name="LoaiID">
                    @if (lst != null)
                    {
                        foreach (ChungLoai item in lst)
                        {
                            <option value=@item.ID>@item.Ten</option>

                        }

                    }

                </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">Hình ảnh sản phẩm</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" accept="image/*" class="custom-file-input" id="" name="file" multiple="multiple">
                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text" id="">Upload</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <!-- /.card-body -->
    </div>
</body>
</html>
