
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/AdminLayout/AdminLayout_.cshtml";
}
    <div >
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-dollar-sign"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Doanh thu </span>
                        <span class="info-box-number">
                            10
                            <small>/Tuần</small>
                        </span>
                    </div>
                    <a  class="btn btn-outline-primary">Chi tiết</a>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-dark elevation-1"><i class="fas fa-eye"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Tổng số lượt thăm trang</span>
                        <span class="info-box-number">41,410</span>
                    </div>
                    <a class="btn btn-outline-primary">Chi tiết</a>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-sticky-note"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Đơn hàng mới</span>
                        <span class="info-box-number">760</span>
                    </div>
                    <a class="btn btn-outline-primary">Xử lý</a>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-comment"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Bình luận/Đánh mới</span>
                        <span class="info-box-number">2,000</span>                        
                    </div>
                    <a href=#>Xử lý</a >
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
                
            </div>
            <!-- /.col -->
        </div>

    </div>
   